<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HCG.Properties.Settings.HCGConnectionString" connectionString="Data Source=S2WIND\S2WIND;Initial Catalog=HCG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HCG.Properties.Settings.HCG1ConnectionString" connectionString="Data Source=DESKTOP-KO9IO6K;Initial Catalog=HCG1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>